<div class="panel panel-primary">
  <div class="panel-body" >
    <ul class="chat" id="chat" data-dialog = "<%= @dialog.id %>" >
    </ul>
      
    </div>
    <div class="panel-footer">
      <%= form_for Message.new, url: send_message_path, html: { class: "input-group" } do |f| -%>
        <%= f.hidden_field :dialog_id, value: @dialog.id %>
        <%= f.text_field :content, class: "form-control input-sm", id: "btn-input",  placeholder: "Type your message here..." %>
        <span class="input-group-btn">
          <%= f.submit "Send", class: "btn btn-warning btn-sm"  %>
        </span>
      <% end -%>
    </div>            
</div>
